ul.legend {
  list-style-type: none;
  padding: 0.4rem 1rem;
  margin: 0;
}
ul.legend li {
  padding: 0.2rem 1rem;
}
table {
  width: calc(100% - 32px);
  border: black 1px solid;
}
table td {
  width: 40%;
  vertical-align: top;
}
#tree1, #tree2 {
  position: relative; // pour que les offsetTop des enfants se réfèrent à lui
  height: 95vh;
  //height: 500px;
  overflow: auto;
}

.hidden {
  display: none;
}
.error {
  color: red;
}

#trees ul {
  list-style-type: none;
  margin: 0.2rem 1rem 0 0;
  border-top: white 2px solid;
  border-left: white 2px solid;
  //border-collapse: collapse;
}
#trees li {
  margin: 0;
  padding: 0.2rem;
  border-top: white 2px solid;
  border-left: white 2px solid;
}
#trees span {
  margin: 0 0.5rem;
}

// les couleurs des nodes
.idem {
  background-color: hsl(90, 90%, 70%);
}
.sameParentAndSiblings {
  background-color: hsl(150, 90%, 70%);
}
.sameParent {
  background-color: hsl(55, 97%, 64%);
}
.adopted {
  background-color: hsl(32, 100%, 51%);
}
.orphan {
  background-color: hsl(0, 100%, 80%);
}
