/**
 * Ce css est chargé si le module est utilisé ailleurs que dans une sésathèque.
 * Dans une sésathèque le code utilise les icones venant d'un
 * `import icons from 'plugins/icons'` qui charge toutes les icones de la sesathèque concernée
 */
/* les pictos des ressources faut mettre du no-repeat !important pour que ce ne soit pas écrasé par les css jstree */
.amJstNode {background: url("https://bibliotheque.sesamath.net/plugins/am/am.gif") no-repeat !important;}
.arbreJstNode {background: url("https://bibliotheque.sesamath.net/plugins/arbre/images/arbre.gif") no-repeat !important;}
.atoJstNode {background: url("https://bibliotheque.sesamath.net/plugins/ato/ato.gif") no-repeat !important;}
.calkcJstNode { background: url("https://bibliotheque.sesamath.net/plugins/calkc/calkc.gif") no-repeat !important;}
.coll_docJstNode {background: url("https://bibliotheque.sesamath.net/plugins/coll_doc/coll_doc.gif") no-repeat !important;}
.ec2JstNode { background: url("https://bibliotheque.sesamath.net/plugins/ec2/ec2.gif") no-repeat !important;}
.ecjsJstNode { background: url("https://bibliotheque.sesamath.net/plugins/ecjs/ecjs.gif") no-repeat !important;}
.emJstNode { background: url("https://bibliotheque.sesamath.net/plugins/em/em.gif") no-repeat !important;}
.iepJstNode { background: url("https://bibliotheque.sesamath.net/plugins/iep/iep.gif") no-repeat !important;}
.j3pJstNode { background: url("https://bibliotheque.sesamath.net/plugins/j3p/j3p.gif") no-repeat !important;}
.lingotJstNode {background: url("https://bibliotheque.sesamath.net/plugins/lingot/lingot.gif") no-repeat !important;}
.mathgraphJstNode { background: url("https://bibliotheque.sesamath.net/plugins/mathgraph/mathgraph.gif") no-repeat !important;}
.mentalJstNode { background: url("https://bibliotheque.sesamath.net/plugins/mental/mental.gif") no-repeat !important;}
.tepJstNode {background: url("https://bibliotheque.sesamath.net/plugins/tep/tep.gif") no-repeat !important;}
.testdJstNode {background: url("https://bibliotheque.sesamath.net/plugins/testd/testd.gif") no-repeat !important;}
.qcmJstNode { background: url("https://bibliotheque.sesamath.net/plugins/qcm/qcm.png") no-repeat !important;}
.urlJstNode { background: url("https://bibliotheque.sesamath.net/plugins/url/url.gif") no-repeat !important;}
/* .errorJstNode dans arbre.css pour être toujours chargé */
